<h1>Contacts</h1>

<form action="/contacts/create" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="XhcEFdXFQ08pDGtxmhEXD1f9Jk95iSy1KYorNcUXDZQHgHDQox8NFFOMRYhjqIhXQZxkNxi4ObK9AQX/eb/+3Q==" />
  <p>
    <label>Email</label><br/>
    <input type="text" name="email"  />
  </p>

  <p>
    <label>Message</label><br/>
    <textarea name="message">
</textarea>
  </p>

  <p>
    <input type="submit" name="commit" value="Save" />
  </p>
</form>

</body>
</html>
